<!DOCTYPE html>
<html lang="en-US">

<head>

	<!-- import over styles -->
	<script src="https://h-projects.github.io/assets/js/index.js"></script>
	<link rel="stylesheet" type="text/css" href="https://h-projects.github.io/assets/css/index.css">
	<link rel="stylesheet" href="https://h-projects.github.io/bloq/_layouts/style.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169183883-1"></script>
	<script>
		window.dataLayer=window.dataLayer||[];
		function gtag() {dataLayer.push(arguments);}	
		gtag('js',new Date());

		gtag('config','UA-169183883-1');
	</script>
	<!-- set retarded web stuff like open graph and search engine optimization -->
	<title>Aytch Software | {{ page.title }}</title>
	<meta name="description" content={{ page.subheadline }}>
	<meta name="twitter:creator" content={{ page.writer.twitter }}>
	<meta property="og:title" content={{ page.headline }}>
	<meta property="og:type" content="blog">
	<meta name="twitter:site" content="@AytchSoftware">
	<meta property="og:image" content={{ page.image }}>
	<meta property="og:image:alt" content={{ page.alt }}>
	<meta property="og:site_name" content="Aytch Software">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>	
	<header>
		<nav>
			<ul>
				<a href="/"><img src="https://h-projects.github.io/assets/images/brand/logo.png" height="64" width="64"
						alt="Loqo"></img></a>
				<li>
					<a href="/about">About</a><a href="/apps">Apps</a></a><a href="/docs">Docs</a><a
						href="/contact">Contact</a><a href="/bloq" id="selected">Bloq</a>
				</li>

			</ul>
		</nav>
	</header>
	<main>
		<img src={{ page.image }} alt={{ page.alt }}>
		<h1>{{ page.headline }}</h1>
		<p id="lowContrast">{{ page.date }}</p>
		<p>{{ page.subheadline }}</p>

		{{ content }}
		
		<div id="author">
			<div id="data">
				<img src={{ page.writer.image }} alt={{ page.writer.alt }} width="128" height="128">
				<h3>{{ page.author.name }}</h3>
				<p id="lowContrast">{{ page.writer.twitter }}</p>
			</div>
			<div id="info">
				<p>{{ page.writer.info }}</p>
				<a href={{ page.writer.site }}><button>Visit their site</button></a>
			</div>
		</div>	
		
		<p>Are you lookinq for the comments section? <a href="https://discord.gg/AbUw9fh">Join the Aytch Software discord server!</a></p>
	</main>
	<footer>
		<nav>
			<ul>
				<li><a href="/about/credits">Credits</a><a href="/sitemap">Sitemap</a><a href="/brand">Brand And
						Press</a><a href="/reviews">Reviews</a></li>
			</ul>
		</nav>
		&copy; Aytch Software 2020
	</footer>
</body>

</html>