/* testmonials */
#author {
  margin: 10px;
  background: var(--bgThird);
  border-radius: var(--radius);
  padding: 10px;
  display: grid;
  grid-template-areas: "data review";
}

#data {
  grid-area: data;
}

#info {
  grid-area: review;
}

/* testmonial mobile */
@media only screen and (max-width: 768px) {
  #author {
    grid-template-areas:
      "data"
      "review";
  }
}

#lowContrast {
	color: gray !important;
}